.product-1-text {
    width: 100%;
    min-width: 334px;
    text-align: center;
    padding: 80px 70px;
}

.product-2-img {
    order: 1;
}

.product-2-text {
    width: 100%;
    min-width: 334px;
    text-align: center;
    padding: 80px 70px;
    order: 2;
}